IOT-Based-River-Water-Quality-Monitoring-System-master/project_files/river_monitoring.json
[{"id":"10d4b9ec.c1f196","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2d986ef1.a537c2","type":"ibmiot in","z":"10d4b9ec.c1f196","authentication":"apiKey","apiKey":"4b386a9d.b6f114","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345678","applicationId":"","deviceType":"project","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":240,"wires":[["45769710.5d3ee8","47af4b15.4430f4","d0fb1c02.1c33a"]]},{"id":"45769710.5d3ee8","type":"function","z":"10d4b9ec.c1f196","name":"turbidity","func":"global.set(\"v\",msg.payload.d.voltage)\nmsg.payload = msg.payload.d.voltage\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":160,"wires":[["d7c406f0.c51de8","e398fb10.5c72b8"]]},{"id":"d7c406f0.c51de8","type":"debug","z":"10d4b9ec.c1f196","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":240,"wires":[]},{"id":"e398fb10.5c72b8","type":"ui_gauge","z":"10d4b9ec.c1f196","name":"","group":"6279815a.fec2d","order":0,"width":0,"height":0,"gtype":"gage","title":"turbidity","label":"units","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":400,"wires":[]},{"id":"47af4b15.4430f4","type":"function","z":"10d4b9ec.c1f196","name":"temperature","func":"global.set(\"t\",msg.payload.d.temp)\nmsg.payload = msg.payload.d.temp\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["ab045f88.09ad4","d7c406f0.c51de8"]]},{"id":"ab045f88.09ad4","type":"ui_gauge","z":"10d4b9ec.c1f196","name":"","group":"6279815a.fec2d","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":480,"wires":[]},{"id":"423c97e3.daabb8","type":"http in","z":"10d4b9ec.c1f196","name":"","url":"/river","method":"get","upload":false,"swaggerDoc":"","x":210,"y":620,"wires":[["2e57897e.fd0bf6"]]},{"id":"fffb072e.469768","type":"http response","z":"10d4b9ec.c1f196","name":"","statusCode":"","headers":{},"x":620,"y":660,"wires":[]},{"id":"2e57897e.fd0bf6","type":"function","z":"10d4b9ec.c1f196","name":"","func":"msg.payload = {\"turbidity\":global.get(\"v\"),\"temperature\":global.get(\"t\"),\"ph\":global.get(\"p\")}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["fffb072e.469768"]]},{"id":"d0fb1c02.1c33a","type":"function","z":"10d4b9ec.c1f196","name":"ph","func":"global.set(\"p\",msg.payload.d.ph)\nmsg.payload = msg.payload.d.ph\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["e9b2578d.8dfff8","d7c406f0.c51de8"]]},{"id":"e9b2578d.8dfff8","type":"ui_gauge","z":"10d4b9ec.c1f196","name":"","group":"6279815a.fec2d","order":2,"width":0,"height":0,"gtype":"gage","title":"ph","label":"units","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":560,"wires":[]},{"id":"4b386a9d.b6f114","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"e9rymb.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"6279815a.fec2d","type":"ui_group","z":"","name":"river","tab":"d66e53f.1b02db","disp":true,"width":"6","collapse":false},{"id":"d66e53f.1b02db","type":"ui_tab","z":"","name":"project","icon":"dashboard","disabled":false,"hidden":false}]